{% extends "layout.html" %}

{% block body %}
<h3>Treeniohjelma: {{ program.name }}</h3>
<p><i>{{ program.description }}</i></p>

<div class="card">
    <ul class="list-group list-group-flush">
        {% for workout in workouts %}
        <li class="list-group-item">
            
            <div class="row">                     
                <div class="col">
                    <b>{{ workout.name }}</b>
                    <p><i>{{ workout.description }}</i></p>
                </div>
                <div class="col text-right">
                    <form method="POST" action="{{ url_for('workouts_delete', program_id=program.id, workout_id = workout.id) }}" >
                        <button type="submit" class="btn-sm btn-danger">Poista treenikerta</button>
                    </form>
                </div>                
            </div>
            
                        
            <ul class="list-group list-group-flush">              
                <li class="list-group-item">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Liike</th>
                                <th>Sarjat</th>
                                <th>Toistot</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exercise in workout.get_exercises() %}
                            <tr>
                                <td>{{ exercise.name }}</td>
                                <td>{{ exercise.sets }}</td>
                                <td>{{ exercise.reps }}</td>
                                <td style="text-align:right">
                                    <form method="POST" action="{{ url_for('workouts_delete_exercise', program_id=program.id, workout_id=workout.id, exercise_id=exercise.id )}}">
                                        <button type="submit" class="btn-sm btn-danger">Poista liike treenikerrasta</button>
                                    </form>
                                </td>
                            </tr>
                            
                            
                            
                            
                            

                            {% endfor %}
                        </tbody>
                    </table>
                </li>
                <li class="list-group-item" >
                    <form method="POST" action="{{ url_for('workouts_add_exercise', program_id=program.id, workout_id=workout.id) }}">
                        {{ exerciseform.exercise(placeholder="Harjoitus") }}
                        {{ exerciseform.sets(placeholder="Sarjat") }}
                        {{ exerciseform.reps(placeholder="Toistot") }}

                        <button type="submit" class="btn-sm btn-success">Lisää liike treenikertaan</button>
                    </form>
                </li>
            </ul>
        </li>
        {% endfor %}
        <li class="list-group-item">
            <br>
            <form method="POST" action="{{ url_for('programs_add_workout', program_id=program.id) }}">
                {{ workoutform.name(placeholder="Nimi") }}
                {{ workoutform.description(placeholder="Kuvaus") }}
                <button type="submit" class="btn-sm btn-success">Lisää treenikerta</button>
            </form>
            <br>
        </li>

    </ul>
</div>
<br>
<form method="GET" action="{{ url_for('programs_index')}}">
    <button type="submit" class="btn btn-success">Valmis</button>
</form>
{% endblock %}