{% extends "layout.html" %}

{% block body %}

<b>Rekisteröinti</b>
<p>{{ error }}</p>
<form method="POST" action="{{ url_for('auth_register') }}">
  <table>
    <tr>
      <td>
         {{ form.name.label }}
        </td>
        <td>
         {{ form.name(minlength="3", maxlength="30") }}
      </td>
    </tr>
    <tr>
      <td>
    	{{ form.username.label }}
      </td>
      <td>
    	{{ form.username(minlength="3", maxlength="30") }}
      </td>
    </tr>
    <tr>
      <td>
	    {{ form.password.label }}
      </td>
      <td>
    	{{ form.password(minlength="3", maxlength="30") }}
      </td>
    </tr>
    
    <tr>
      <td colspan="2">
	<input type="submit" value="Luo käyttäjä"/>
      </td>
    </tr>
    
</form>
{% endblock %}
