{% extends "layout.html" %}

{% block body %}

<h3>Liikkeet</h3>
<br>
<div class="container">
  <div class="row">
    <div class="col"><a type="button" href="{{ url_for('exercises_form') }}" class="btn btn-outline-primary btn-block">Uusi liike...</a></div>
    <div class="col">
      <form method="GET" action="{{ url_for('exercises_index')}}" >   
        <div class="input-group mb-3" >
          {{ form.createdBy(placeholder="Lisääjä", class="form-control") }}
          <div class="input-group-append">
            <button class="btn btn-success" type="submit">Etsi</button>
          </div>
        </div>    
      </form>      
    </div>
  </div>
</div>

<table class="table table-striped table-sm">
  <thead>
    {% if exercises %}
    <tr>
      <th>Nimi</th>
      <th>Kuvaus</th>
      <th>Lisääjä</th>
      <th></th>
    </tr>
    {% else %}
    <i>ei tuloksia</i>
    {% endif %}
  </thead>
  <tbody>
    {% for exercise in exercises %}
    <tr>
      <td>{{ exercise.name }}</td>
      <td style ="word-break:break-word;">{{ exercise.description }}</td>
      <td>{{ exercise.creators_name }}</td>

      <td style="text-align:right">
        {% if exercise.created_by == current_user.id %}  
        <div class="btn-group">
          <form method="GET" action="{{ url_for('exercises_edit', exercise_id=exercise.id) }}">
            <button type="submit" class="btn-sm btn-success">Muokkaa</button>
          </form>
          <form method="POST" action="{{ url_for('exercises_delete', exercise_id=exercise.id) }}">
            <button type="submit" class="btn-sm btn-danger">Poista</button>
          </form>
        </div>
  
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>

{% endblock %}
