{% extends "layout.html" %}

{% block body %}
<h3>Liikeet</h3>
  <table>
    <tr>
      <th>Nimi</th>
      <th>Kuvaus</th>
    </tr>
    {% for exercise in exercises %}
    <tr>
      <td>{{ exercise.name }}</td>
      <td>{{ exercise.description }}</td>
      <td>
        <form method="GET" action="{{ url_for('exercises_edit', exercise_id=exercise.id) }}">
          <input type="submit" value="Muokkaa"/>
        </form>
       </td>
      <td>
        <form method="POST" action="{{ url_for('exercises_delete', exercise_id=exercise.id) }}">
          <input type="submit" value="Poista"/>
        </form>
       </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
